*{
    box-sizing: border-box;
    border: 1px solid red;
    font-family: 'Times New Roman', Times, serif;
}

body {
    
    display: block;
    position: relative;
}

header {

    display: block;
    position: relative;
}

main {

    display: block;
    position: relative;
}

footer {

    display: block;
    position: relative;
}