*{
    box-sizing: border-box;
    border: 1px solid red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    
    position: relative;
}

header {

    position: relative;
}

main {

    position: relative;
}

footer {

    position: relative;
}