*{
    box-sizing: border-box;
    border: 1px solid red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    
    display: block;
    position: relative;
}

header {
    
    display: block;
    position: relative;
}

main {

    display: block;
    position: relative;
}

footer {

    display: block;
    position: relative;
}